.header-image {
    height: 50vh;
    width: 100%;
    background: url("https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center/cover;
    opacity: 0.5;
}